In [1]:
print("welcome to c programming")
print("welcome to python programming")

welcome to c programming
welcome to python programming

In [2]:
x=1011221231
print(x)

1011221231

In [3]:
# markdown

# markdown

# markdown
## markdown
### markdown
#### markdown
##### markdown
###### markdown
#######

### for italic and bold
* *shiva*
* **shiva**
* ***shiva***

 - Normal Text
     - sub text1
     - sub text2

# Saravanan Sivakumar

![surya](https://pbs.twimg.com/profile_images/1177421565064908800/QSuMfBmD_400x400.jpg)

[google drive](https://drive.google.com/drive/my-drive)

[google drive](https://drive.google.com/drive/my-drive)

In [5]:
print("Hello,GITAM")

Hello,GITAM

In [6]:
print("hello,gitam",end="///")
print("hi")

hello,gitam///hi

In [7]:
print('hello')

hello

In [14]:
print("hii")

hii

In [9]:
print('hey you')

hey you

In [12]:
a = 10
a = b = c = 1,2,3
print('a,b,c')

a,b,c

In [23]:
a=10
print("a=10")

a=10

In [ ]:
a=10
a,b,c=5
a,b,c=1,2,3

In [16]:
a=("python")
b="p"
type(a)
c = 10
type(c)

int

In [17]:
a= 10.5
print(type(a))
id(a)

<class 'float'>

62318512

In [66]:
a=1
b=10
print(id(a))
id(b)

1523501216

1523501360

In [20]:
name="shiva shetty"
age="21"
print("my name is :",name,"and age is :",age)

my name is : shiva shetty and age is : 21

In [30]:
a

120

In [29]:
a

120

In [28]:
b

10

In [38]:
e = d = 21
e

21

In [39]:
d

21

In [40]:
a=input("enter a string")
type(a)

enter a stringpython

str

In [42]:
b=("enter a number")
type(b)

str

In [43]:
c=int(input("enter a number"))
type(c)

enter a number123

int

In [44]:
d= float(input("enter a number"))
type(d)

enter a number123

float

In [50]:
a=int(input("enter a value"))
b=int(input("enter b value "))
c=a*b
print("multiplication is ",c)

enter a value12
enter b value 4
multiplication is  48

In [53]:
x = 10
print(x)
type(x)

10

int

In [54]:
y= 10.2
print(y)
type(y)

10.2

float

In [56]:
z = 10+2j
print(z)
type(z)

(10+2j)

complex

In [58]:
x= float (12)
x

12.0

In [60]:
y = complex(2,1)
y

(2+1j)

In [62]:
c1=1+2j
c2=5+3j
print(c1+c2)
print(c1-c2)
print(c2/c1)

(6+5j)
(-4-1j)
(2.2-1.4j)

In [63]:
a =True
type(a)

bool

In [64]:
b= False
type(b)

bool

In [67]:
a>b

False

In [68]:
True>False

True

In [69]:
s1 = "abc"
s2 = "ABC"
print(s1)
type(s1)

abc

str

In [70]:
i = 100
print(type(i))

<class 'int'>

In [75]:
s1 = str(i)
print(s1)
type(s1)

100

str

In [76]:
f1 = float(i)
print(f1)
type(f1)

100.0

float

In [77]:
s = "100"
print(type(s))

<class 'str'>

In [78]:
a = int(s)
type(a)

int

In [79]:
f = 1.5
type(f)

float

In [80]:
a1= int(f)
type(a1)

int

In [81]:
a = "1234"
len(a)

4

# operators

# arithematic:+,-,* ,/,%,//,**
# logical:and,or ,not
# relation:<,<=,>,>=,==,!=
# membership:in,not in

#  // : floor division
#  ** : exponentiation

In [86]:
z=10
y=20
print(z+y)
print(z-y)
print(z*y)
print(z/y)
print(z//y)
print(z**y)

30
-10
200
0.5
0
100000000000000000000

In [87]:
4//-2

-2

In [88]:
12/5

2.4

In [89]:
12//5

2

In [90]:

13/5

2.6

In [91]:
14/5

2.8

In [92]:
14//5

2

In [93]:
-12//5

-3

In [94]:
12/5

2.4

In [95]:
-12/5

-2.4

In [97]:
v = 2
x = 3
print(v>=5 and v<10)
print(v>=5 or v<=10)
print(not(v))

False
True
False

In [98]:
e=10
f=15
print(e==f)
print(e!=f)
print(e<f)
print(e<=f)
print(e>f)
print(e>=f)

False
True
True
True
False
False

In [99]:
str = "abc"
print('a' in str)
print('a' not in str)

True
False

# conditional statements
    - if
    - if-else
    - elif

# syntax:
    if condition:
        statement

# syntax:
    - if condition:
        -statements
        
        
    - else:
        -statements

# syntax:
    - if condition:
        -statements
    
    - elif:
        - statements
    - elif:
        - statements
    - elif:
        - statements
        
        
    - else:
        -statements

In [100]:
a=10
if a>0:
    print("positive")

positive

In [105]:
g=-20
if g>0:
    print("positive")
else:
    print("negative")

negative

In [111]:
f=int(input("enter a number"))
if f>0:
    print("positive")
elif f<0:
    print("negative")
else:
    print("zero")

enter a number-5
negative

In [116]:
h=int(input("enter a number"))
if h/2==0:
    print("even")
else:
    print("odd")

enter a number5
odd