# collection Types:
- 1.List
- 2.Tuple
- 3.Set
- 4.Dictionary

# List:
## one of th Datastructure in python
## Datastructure means to store,sort and search options
## It is a coomon datastructre in python, the items in list are seperated by comma and enclosed in[]
## list can store different data types(heterogenous data)

In [1]:
## example:
list1=[1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [2]:
list2=[1,1.23,"gitam","hyd"]
list2

[1, 1.23, 'gitam', 'hyd']

In [4]:
# accesing list elments:
list11=[1,2,3,4,5]
print(list1[0])
list1[-1]
list1[-3]
list1[-5]

1

1

In [7]:
list1=[1,2,3,4,5]
print(list1[0:3])
print(list1[0:5:2])
print(list1[2:])
list1[::2]

[1, 2, 3]
[1, 3, 5]
[3, 4, 5]

[1, 3, 5]

In [10]:
del list1[0]

In [11]:
list1

[2, 3, 4, 5]

In [13]:
# Basic list operations
list1=[1,2,3,4,5,6,7,8,9]
len(list1)

9

In [14]:
print(list1*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
4 in list1

True

In [16]:
10 not in list1

True

In [18]:
# Accessing list elements with for loop
list1=[1,2,3,4,5]
for i in range (len(list1)):
    print(list1[i])

1
2
3
4
5

In [21]:
for i in [1,2,3,4]:
    print(i,end=" ")

1 2 3 4

In [24]:
# Basic list functions
list1=[1,2,3,4]
print(max(list1))
print(min(list1))
print(sum(list1))
sum(list1)/len(list1)

4
1
10

2.5

In [50]:
# List methods(append:adds element on the last,insert:insert the element)
list1 =[1,2,3,4]
list1.append(5)
list1.insert(2,6)
list1.count(3)#count the no
list1.pop()#gives last index value
list1.pop(3)#removes the value

3

In [51]:
list1

[1, 2, 6, 4]

In [52]:
list1
print(list1)
list1.index(2)#gives index value
list1.extend([5,6,4])
list1

[1, 2, 6, 4]

[1, 2, 6, 4, 5, 6, 4]

In [53]:
print(list11)
list2=[1,2,3]
list1.extend([list2])
list1

[1, 2, 3, 4, 5]

[1, 2, 6, 4, 5, 6, 4, [1, 2, 3]]

In [55]:
li=[10,20,30,40]
print(li)
li.reverse()
print(li)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [56]:
ls=[1,6,4,95,12,45]
ls.sort()
ls

[1, 4, 6, 12, 45, 95]

In [57]:
ls[::-1]

[95, 45, 12, 6, 4, 1]

# tuples

# tuples are enclosed in paranthesis()
## Tuples are immutable i.e., we cannot modify the elements in the tuple

# differences between list and tuple:
## tuples--->()and list --->[]
## list is mutable(can modify),but tuple is immutable(cannot modify)

In [58]:
tuple1=(1,2,3,4)
print(tuple1)
type(tuple1)

(1, 2, 3, 4)

tuple

In [60]:
tuple2 = (1,1.2,"shetty")
tuple2

(1, 1.2, 'shetty')

In [63]:
t1=(10,20,30)
t1[0:2]

(10, 20)

# DICTIONARY:

## EnCLOSED IN {}
## Dictionary consits of key and value pairs seperated by colon(:)
## Each key and value pair is seperated by comma(,)
## key should be the unique,values may repeat

In [67]:
# example:
d1 = {"name":"gitam","roll no":20,"address":"hyd"}
d1

{'name': 'gitam', 'roll no': 20, 'address': 'hyd'}

In [68]:
d1["name"]

'gitam'

In [72]:
d1["email"] = "shetty@gmail.com"
d1

{'name': 'gitam', 'roll no': 20, 'address': 'hyd', 'email': 'shetty@gmail.com'}

In [75]:
d1["course"]="anaconda"
d1

{'name': 'gitam',
 'roll no': 20,
 'address': 'hyd',
 'email': 'shetty@gmail.com',
 'course': 'anaconda'}

In [76]:
d1.keys()

dict_keys(['name', 'roll no', 'address', 'email', 'course'])

In [78]:
d1.values()

dict_values(['gitam', 20, 'hyd', 'shetty@gmail.com', 'anaconda'])

In [79]:
d1.items()

dict_items([('name', 'gitam'), ('roll no', 20), ('address', 'hyd'), ('email', 'shetty@gmail.com'), ('course', 'anaconda')])

In [82]:
print(d1)
del d1["name"]

{'name': 'gitam', 'roll no': 20, 'address': 'hyd', 'email': 'shetty@gmail.com', 'course': 'anaconda'}

In [83]:
d1

{'roll no': 20,
 'address': 'hyd',
 'email': 'shetty@gmail.com',
 'course': 'anaconda'}

## Q1) Function to find factorial of a no
## 5!=5*4*3*2*1
## output:120

# Q2)  Function to find strong number or not
## input:145
## output

In [ ]:
def factorial(n):
    fact= 1
    i=1
    while n!=0:
        fact= fact*i
    i=i+1
    return fact
factorial(5)

In [3]:
def digitfactorsum(n);
    s = 0
    buffer = n
    while n!=0:
        r=n%10
        s=s+factorial(r)
        n=n//10
    if buffer==s:
        print("strong number")
    else:
        print("not a strong number")
digitfactorsum(145)

SyntaxError: invalid syntax (<ipython-input-3-2996435cb1c5>, line 1)

# strings:

In [1]:
s1="python"
print(s1)
type(s1)

python

str

In [4]:
# accessing the first character
print(s1[0])
print(s1[-1])
print(s1[2:5])
s1[::2]
s1[::-1]

p
n
tho

'nohtyp'

In [6]:
s1="python"
print(s1)
print(s1[1:])
print(s1[3:])
print(s1[:4])
print(s1[-2:])

python
ython
hon
pyth
on

In [11]:
s1="python"
s1[1:-1]
s1[0:5:2]

'pto'

In [12]:
s1="python"
s1[::2]

'pto'

In [1]:
str1="mom"
print(str1)
print(str1[::-1])
if str1==str1[::-1]:
    print("palindrone")
else:
    print("not a palindrone")

mom
mom
palindrone

In [3]:
str1="mom"
print(str1)
print(str1[::-1])
if str1==str1[::-1]:
    print("palindrone")
else:
    print("not a palindrone")

mom
mom
palindrone

In [4]:
# builtin methods:
s1="python"
print(s1.upper())
print(s1.lower())

PYTHON
python

In [11]:
s1="python"
s2="pyth123on"
s3="123"
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())

False
False
True